

<header class="flex   
justify-center items-center h-auto w-full  ">
    <nav class="flex ">
     <img src="../assets/images/tecnologys/go.svg" alt="Inicio"> 
    <ul class="flex-col  md:flex-row   w-full    lg:w-auto justify-between items-center
    px-3 gap-x-5 gap-y-5 ">
        <a  class="  text-2xl text-center w-1/2 hover:[text-shadow:_0_5px_4px_rgb(99_102_241_/_0.8)]" href="/">Inicio</a>
        <a  class="  text-2xl text-center w-1/2 hover:[text-shadow:_0_5px_4px_rgb(99_102_241_/_0.8)]" href="/proyectos">Proyectos</a>
        <a  class="  text-2xl text-center w-1/2 hover:[text-shadow:_0_5px_4px_rgb(99_102_241_/_0.8)]" href="/certificaciones">Certificaciones</a>
    </ul>
        </nav>
</header>
 <main>


 </main>